/***************************************/
/* BASIC SETUP */
/***************************************/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: #fff;
    color: #555;
    font-family: 'Lato', 'Arial', sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
}


/***************************************/
/* Reusable Components */
/***************************************/
.row {
    max-width: 1140px;
    margin: 0 auto;
}

/* ----- HEADINGS -----*/
h1 {
    margin-top: 0;
    margin-bottom: 20px;
    color:#fff;
    font-size: 240%; /* 200% of html font-size: 20px*/
    font-weight: 280;
    text-transform: uppercase;
    letter-spacing: 1px;
    word-spacing: 4px;
}

/* ----- BUTTONS -----*/
/*conditional button display: unclicked and clicked button*/
.btn:link,
.btn:visited {
    display: inline-block;
    padding: 10px 30px;
    font-weight: 300;
    text-decoration: none;
    border-radius: 200px; /*creates rounded button*/
    transition: background-color 0.2s, border 0.2s, color 0.2s; /*now background colors on buttons will not change instantly*/
}

.btn-full:link,
.btn-full:visited {
    background-color: #e67e22;
    border: 1px solid #e67e22;
    color: #fff;
    margin-right: 15px;
}

.btn-ghost:link,
.btn-ghost:visited {
    border: 1px solid #e67e22;
    color: #e67e22;
}


.btn:hover,
.btn:active {
    background-color: #cf6d17;
}

.btn-full:hover,
.btn-full:active {
    border: 1px solid #cf6d17;
}

.btn-ghost:hover,
.btn-ghost:active {
    border: 1px solid #cf6d17;
    color: #fff;
}

/***************************************/
/* HEADER */
/***************************************/

header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.705),rgba(0, 0, 0, 0.705)), url(img/hero.jpg);   /*sets background image of html section with color contrast*/
    background-size: cover;      /*lets browser know to show the whole image*/
    background-position: center; /* centers image in webpage window */
    height: 100vh; /*100vh: means 100% viewport*/
}

/*centers html box*/
.hero-txt-box {
    position: absolute; 
    width: 1140px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.logo {
    margin-top: 20px;
    height: 100px;
    width: auto;
    float: left; /*aligns photo to the left of main-nav on first line*/
}

.main-nav {
    float: right; /*aligns main-nav to the right of photo on first line*/
    list-style: none;
    margin-top: 55px;
}

.main-nav li {
    display: inline-block;
    margin-left: 40px;
}

.main-nav li a:link,
.main-nav li a:visited {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 90%; /* sets to 90% of html font-size */
    border-bottom: 2px solid transparent; /*Creates border but hides it. Necessary for hover section*/
    transition: border-bottom 0.2s;
    padding: 8px 0px; /*adds space for underline on hover*/
}

.main-nav li a:hover,
.main-nav li a:active {
    border-bottom: 2px solid #e67e22;
}