/***************************************/
/* BASIC SETUP */
/***************************************/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: #fff;
    color: #555;
    font-family: 'Lato', 'Arial', sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
}

/*class used to clear float after an element. Used on the parent element to remove from child elements. */
.clearfix {zoom: 1}
.clearfix:after {
    content: '.';
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}

/***************************************/
/* Reusable Components */
/***************************************/
.row {
    max-width: 1140px;
    margin: 0 auto;
}

section {
    padding: 80px 0px;
}

/* ----- HEADINGS -----*/
h1, h2, h3 {

    font-weight: 280;
    text-transform: uppercase;
}

h1 {
    margin-top: 0;
    margin-bottom: 20px;
    color:#fff;
    font-size: 240%; /* 200% of html font-size: 20px*/
    word-spacing: 4px;
    letter-spacing: 1px;
}

h2 {
    font-size: 180%;
    word-spacing: 2px;
    text-align: center;
    margin-bottom: 20px;
    letter-spacing: 1px;
}

h3 {
    font-size: 115%;
    margin-bottom: 15px;

}

h2:after {
    display: block;
    height: 2px;
    background-color: #e67e22;
    content: "";
    width: 100px;
    margin: 0 auto;
    margin-top: 30px;
}

/* ----- PARAGRAPHS -----*/
.long-cpy {
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
}

.box p {
    font-size: 90%;
    line-height: 145%;
}

/* ----- ICONS -----*/
.icon-big {
    font-size: 350%;
    display: block;
    color: #e67e22;
}

.icon-small {
    display: inline-block;
    width: 30px;
    text-align: center;
    color: #e67e22;
    font-size: 120%;
    vertical-align: top;
    /*secret to align text and icons*/
    line-height: 120%;
    vertical-align: middle;
    margin-top: -6px; /* takes away the margin of icon.*/
    margin-right: 10px;

}

/* ----- LINKS -----*/
a:link,
a:visited {
    color: #e67e22;
    text-decoration: none;
    padding-bottom: 1px;
    border-bottom: 2px solid #e67e22;
    transition: border-bottom 0.2s, color 0.2s;
}

a:hover,
a:active {
    color: #555;
    border-bottom: 1px solid transparent;
}

/* ----- BUTTONS -----*/
/*conditional button display: unclicked and clicked button*/
.btn:link,
.btn:visited {
    display: inline-block;
    padding: 10px 30px;
    font-weight: 300;
    text-decoration: none;
    border-radius: 200px; /*creates rounded button*/
    transition: background-color 0.2s, border 0.2s, color 0.2s; /*now background colors on buttons will not change instantly*/
}

.btn-full:link,
.btn-full:visited {
    background-color: #e67e22;
    border: 1px solid #e67e22;
    color: #fff;
    margin-right: 15px;
}

.btn-ghost:link,
.btn-ghost:visited {
    border: 1px solid #e67e22;
    color: #e67e22;
}


.btn:hover,
.btn:active {
    background-color: #cf6d17;
}

.btn-full:hover,
.btn-full:active {
    border: 1px solid #cf6d17;
}

.btn-ghost:hover,
.btn-ghost:active {
    border: 1px solid #cf6d17;
    color: #fff;
}

/***************************************/
/* HEADER */
/***************************************/

header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.705),rgba(0, 0, 0, 0.705)), url(img/hero.jpg);   /*sets background image of html section with color contrast*/
    background-size: cover;      /*lets browser know to show the whole image*/
    background-position: center; /* centers image in webpage window */
    height: 100vh; /*100vh: means 100% viewport*/
}

/*centers html box*/
.hero-txt-box {
    position: absolute; 
    width: 1140px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.logo {
    margin-top: 20px;
    height: 100px;
    width: auto;
    float: left; /*aligns photo to the left of main-nav on first line*/
}

.main-nav {
    float: right; /*aligns main-nav to the right of photo on first line*/
    list-style: none;
    margin-top: 55px;
}

.main-nav li {
    display: inline-block;
    margin-left: 40px;
}

.main-nav li a:link,
.main-nav li a:visited {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 90%; /* sets to 90% of html font-size */
    border-bottom: 2px solid transparent; /*Creates border but hides it. Necessary for hover section*/
    transition: border-bottom 0.2s;
    padding: 8px 0px; /*adds space for underline on hover*/
}

.main-nav li a:hover,
.main-nav li a:active {
    border-bottom: 2px solid #e67e22;
}

/*---------------------------------------*/
/* FEATURES */
/*---------------------------------------*/
.sect-features .long-cpy {
    margin-bottom: 5%;
}


/*---------------------------------------*/
/* MEALS */
/*---------------------------------------*/

.section-meals {
    padding: 0;
}
.meals-showcase {
    list-style: none;
    width: 100%;
}

/* 4 element to show. width set to 1/4 of full page width*/
.meals-showcase li {
    display: block;
    float: left;
    width: 25%
}

.meal-photo {
    width: 100%;
    margin: 0;
    overflow: hidden; /* deals with overflow from img */
    background: #000
}

.meal-photo img{
    width: 100%; /* will ensure the image is exactly as wide as its container*/
    height: auto;
    transform: scale(1.15); /* this creates an image at scale of 115%. causes image to overlow container */ 
    transition: transform 0.5s;
    opacity: 0.7 /*specifies transparency of element, used with background color to make image darker */
}

.meal-photo img:hover {
    transform: scale(1.04); /* adds effect on hover zooms out to original size*/
    opacity: 1; /*Makes image solid on hover*/
}

/*---------------------------------------*/
/* HOW IT WORKS */
/*---------------------------------------*/

.section-steps {
    background-color: #f4f4f4
}

.steps-box:first-child {
    text-align: right;
    padding-right: 3%;
    margin-top: 30px;
}

.steps-box:last-child {
    padding-left: 3%;
    margin-top: 70px;
}

.app-screen {
    width: 45%;
}

.works-step {
    margin-bottom: 50px;
}

.works-step div {
    color: #e67e22;
    border: 2px solid #e67e22;
    border-radius: 50%;
    height: 55px;
    width: 55px;
    text-align: center;
    font-size:150%;
    padding: 5px;
    float: left;
    margin-right: 25px;
}

.works-step:last-of-type {
    margin-bottom: 80px
}

.btn-app img {
    height: 50px;
    width: auto;
    text-align: center;
    margin-right: 15px;
}

/*---------------------------------------*/
/* CITIES */
/*---------------------------------------*/

.box img {
    width: 100%;
    height: auto;
    margin-bottom: 15px;
}

.city-feature {
    margin-bottom: 5px;
}